@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: url("fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Regular.otf") format("opentype"), url("fonts/BrandonGrotesque-Regular.woff") format("woff"), url("fonts/BrandonGrotesque-Regular.ttf") format("truetype"), url("fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular") format("svg");
}

@font-face {
  font-family: "BrandonGrotesque-Medium";
  src: url("fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Medium.otf") format("opentype"), url("fonts/BrandonGrotesque-Medium.woff") format("woff"), url("fonts/BrandonGrotesque-Medium.ttf") format("truetype"), url("fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Regular") format("svg");
}

@font-face {
  font-family: "BrandonGrotesque-Light";
  src: url("fonts/BrandonGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Light.otf") format("opentype"), url("fonts/BrandonGrotesque-Light.woff") format("woff"), url("fonts/BrandonGrotesque-Light.ttf") format("truetype"), url("fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Regular") format("svg");
}

@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url("fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Bold.otf") format("opentype"), url("fonts/BrandonGrotesque-Bold.woff") format("woff"), url("fonts/BrandonGrotesque-Bold.ttf") format("truetype"), url("fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Regular") format("svg");
}

@font-face {
  font-family: "BrandonGrotesque-Black";
  src: url("fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Black.otf") format("opentype"), url("fonts/BrandonGrotesque-Black.woff") format("woff"), url("fonts/BrandonGrotesque-Black.ttf") format("truetype"), url("fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Regular") format("svg");
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: BrandonGrotesque-Regular;
  font-size: calc(112.5% + 0.25vw);
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: BrandonGrotesque-Black;
  font-size: 2em;
}

h2 {
  font-family: BrandonGrotesque-Bold;
  font-size: 1.5em;
}

h3 {
  font-family: BrandonGrotesque-Medium;
  font-size: 1.5em;
}

li {
  list-style: none;
  list-style-position: inside;
  display: inline;
}

a {
  text-decoration: none;
  text-align: middle;
  color: #29305f;
}

a:hover {
  color: #f8a41d;
}

img {
  width: 100%;
  height: auto;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 479px) {
  nav {
    -ms-grid-columns: 1.2fr 1fr;
        grid-template-columns: 1.2fr 1fr;
  }
}

nav .logo {
  padding: 1em;
  max-width: 15em;
}

@media (max-width: 479px) {
  nav .logo {
    padding: 1.3em 0.5em 0;
  }
}

nav .navNav {
  text-align: right;
  padding: 0 1.5em;
}

.anima, #menuFull a, .boton, #enterate .gale .tarjetaGale img, #conoce .gale .tarjetaGale img, #categoria .gale .tarjetaGale img {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@-webkit-keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 10vh;
  }
}

@keyframes menuAbierto {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 100%;
    height: 10vh;
  }
}

@-webkit-keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 0%;
    height: 100vh;
  }
}

@keyframes menuCerrado {
  100% {
    width: 100%;
    height: 100vh;
  }
  30% {
    width: 0%;
    height: 100vh;
  }
}

#menuFull {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 0vh;
  background-color: #4ccba6;
  z-index: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#menuFull ul {
  padding: 0;
  margin: 0;
}

#menuFull li {
  display: list-item;
  position: relative;
}

#menuFull a {
  font-size: 1.8em;
}

@media (max-width: 479px) {
  #menuFull a {
    font-size: 1.3em;
  }
}

#menuFull a:hover,
#menuFull .active {
  font-weight: bold;
  color: #29305f;
}

#menuFull a:hover::before,
#menuFull .active::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background-color: #f8fb32;
  position: absolute;
  top: 0.6em;
  left: -0.7em;
  border-radius: 50vh;
}

.menuFullAbierto {
  -webkit-animation: menuAbierto 1.2s ease forwards;
          animation: menuAbierto 1.2s ease forwards;
}

.desanimaMenu {
  animation: menuCerrado 1s ease forwards reverse;
}

.menu-toggle {
  position: relative;
  z-index: 520;
  width: 30px;
  height: 22px;
  background: transparent;
  border-top: 4px solid;
  border-left: 6px solid transparent;
  border-bottom: 4px solid;
  color: #f8a41d;
  font-size: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
  border-left: none;
}

button.is-active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
}

.boton {
  display: inline-block;
  background-color: #4ccba6;
  color: #fff;
  font-size: 0.6em;
  padding: 0.2em 0.8em;
  position: relative;
  border-radius: 50vw 0 0 50vw;
}

@media (max-width: 479px) {
  .boton {
    font-size: 0.8em;
    border-radius: 50vh 0 0 50vh;
  }
}

.boton:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  background-color: #f8a41d;
  color: #fff;
}

.boton:hover:after {
  background-color: #4ccba6;
  color: #29305f;
}

.boton:after {
  position: absolute;
  top: 0;
  right: -1.4em;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  color: #fff;
  width: auto;
  padding: 0 0.4em;
  height: 100%;
  background-color: #29305f;
  border-radius: 0 50vw 50vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conte {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

#heroHome {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80vh;
  margin-bottom: 5em;
}

#heroHome .titulosHeroHome {
  background: url("/img/portadaHeroHome.jpg") no-repeat;
  background-size: contain;
  background-position: right center;
  color: #29305f;
  -webkit-box-flex: 10;
      -ms-flex: 10 0 300px;
          flex: 10 0 300px;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  color: #29305f;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 100px;
          flex: 3 1 100px;
}

@media (max-width: 479px) {
  #heroHome .titulosHeroHome {
    background-position: right bottom;
    padding: 1em;
  }
}

#heroHome .titulosHeroHome .bandejaCentrada {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: 2 /-2;
}

@media (max-width: 479px) {
  #heroHome .titulosHeroHome .bandejaCentrada {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 3em;
  }
}

#heroHome .titulosHeroHome h1 {
  font-size: 2.6em;
  color: #29305f;
}

#heroHome .titulosHeroHome h2 {
  font-family: BrandonGrotesque-light;
  line-height: 1em;
  color: #29305f;
}

#heroHome .titulosHeroHome span {
  font-size: 1em;
  line-height: 2.5em;
  line-height: 2em;
  color: #29305f;
}

#heroHome .fondoHeroLat {
  background-image: url("/img/fondoD_gradiente.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 479px) {
  #heroHome .fondoHeroLat {
    background-size: auto 55%;
    background-position: 0 100%;
  }
}

#heroHoteles {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80vh;
  margin-bottom: 5em;
}

@media (min-width: 1600px) {
  #heroHoteles {
    height: 40vh;
  }
}

#heroHoteles .titulosHeroHome {
  background: url("/img/hotelesInt.jpg") no-repeat;
  background-size: contain;
  background-position: right center;
  color: #f8a41d;
  -webkit-box-flex: 10;
      -ms-flex: 10 0 300px;
          flex: 10 0 300px;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  color: #29305f;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 100px;
          flex: 3 1 100px;
}

@media (max-width: 479px) {
  #heroHoteles .titulosHeroHome {
    background-position: right bottom;
    padding: 1em;
  }
}

#heroHoteles .titulosHeroHome .bandejaCentrada {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-column: 2 /-2;
}

@media (max-width: 479px) {
  #heroHoteles .titulosHeroHome .bandejaCentrada {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 3em;
  }
}

#heroHoteles .titulosHeroHome h1 {
  font-size: 2.6em;
  color: #f8a41d;
}

#heroHoteles .titulosHeroHome h2 {
  font-family: BrandonGrotesque-light;
  line-height: 1em;
  color: #f8a41d;
}

#heroHoteles .titulosHeroHome span {
  font-size: 1em;
  line-height: 2.5em;
  line-height: 2em;
  color: #f8a41d;
}

#heroHoteles .fondoHeroLat {
  background-image: url("/img/fondoE_gradiente.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 479px) {
  #heroHoteles .fondoHeroLat {
    background-size: auto 55%;
    background-position: 0 100%;
  }
}

#enterate {
  grid-column: 1 /-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

#enterate .conteTit {
  border-radius: 0 5vw 0 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 80%;
  height: 50vh;
  color: #fff;
  background: url("/img/fondoE_gradiente.jpg") no-repeat;
  background-size: 100% auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

@media (max-width: 479px) {
  #enterate .conteTit {
    width: auto;
    grid-column: 1 / -1;
    height: 40vh;
  }
}

#enterate .conteTit h2 {
  color: #f8a41d;
}

#enterate .conteTit .conteExtra {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10%;
}

#enterate .imasGale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-top: -10vh;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#enterate .imasGale p {
  background-color: #fff;
  padding: 2em;
}

@media (max-width: 479px) {
  #enterate .imasGale {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#enterate .gale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  margin-top: -10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8em;
}

@media (max-width: 479px) {
  #enterate .gale {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1600px) {
  #enterate .gale {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#enterate .gale a {
  color: #fff;
}

#enterate .gale .tarjetaGale {
  background-color: #29305f;
  color: #fff;
  margin-bottom: 1em;
}

#enterate .gale .tarjetaGale img {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
}

#enterate .gale .tarjetaGale:hover img {
  border-radius: 1vw;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  z-index: 500;
}

#enterate .gale .tarjetaGale .conteIntTar {
  padding: 2em;
}

#enterate .gale .tarjetaGale h3 {
  color: #4ccba6;
  position: relative;
  font-size: 1.2em;
}

#enterate .gale .tarjetaGale h3:before {
  content: "";
  background: url("/img/lineaVerda.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
}

#enterate .gale .tarjetaGale p {
  font-size: 0.8em;
}

#enterate .gale .tarjetaGale .cat {
  font-size: 0.8em;
  border-top: solid 1px #f8fb32;
  display: inline;
}

#enterate .gale .tarjetaGale .cat a {
  color: #fff !important;
}

#enterate .gale .tarjetaGale .cat a:hover {
  color: #f8fb32 !important;
}

#conoce {
  grid-column: 1 /-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

#conoce .conteTit {
  border-radius: 0 5vw 0 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 80%;
  height: 50vh;
  color: #fff;
  background: url("/img/fondoD_gradiente.jpg") no-repeat;
  background-size: 100% auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

@media (max-width: 479px) {
  #conoce .conteTit {
    width: auto;
    grid-column: 1 / -1;
    height: 40vh;
  }
}

#conoce .conteTit h2 {
  color: #f8a41d;
}

#conoce .conteTit .conteExtra {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10%;
}

#conoce .imasGale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-top: -10vh;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#conoce .imasGale p {
  background-color: #fff;
  padding: 2em;
}

@media (max-width: 479px) {
  #conoce .imasGale {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#conoce .gale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  margin-top: -10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8em;
}

@media (max-width: 479px) {
  #conoce .gale {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1600px) {
  #conoce .gale {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#conoce .gale a {
  color: #fff;
}

#conoce .gale .tarjetaGale {
  background-color: #29305f;
  color: #fff;
  margin-bottom: 1em;
}

#conoce .gale .tarjetaGale img {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
}

#conoce .gale .tarjetaGale:hover img {
  border-radius: 1vw;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  z-index: 500;
}

#conoce .gale .tarjetaGale .conteIntTar {
  padding: 2em;
}

#conoce .gale .tarjetaGale h3 {
  color: #4ccba6;
  position: relative;
  font-size: 1.2em;
}

#conoce .gale .tarjetaGale h3:before {
  content: "";
  background: url("/img/lineaVerda.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
}

#conoce .gale .tarjetaGale p {
  font-size: 0.8em;
}

#conoce .gale .tarjetaGale .cat {
  font-size: 0.8em;
  border-top: solid 1px #f8fb32;
  display: inline;
}

#conoce .gale .tarjetaGale .cat a {
  color: #fff !important;
}

#conoce .gale .tarjetaGale .cat a:hover {
  color: #f8fb32 !important;
}

#ofertasHome {
  grid-column: 1 / -1;
  display: inherit;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  margin: 5em 0;
  background: url("/img/fondoC_gradiente.jpg") no-repeat;
  background-size: 40% auto;
  background-position: 100% 20%;
}

@media (max-width: 479px) {
  #ofertasHome {
    background-size: 100% auto;
    background-position: 0% 15%;
  }
}

#ofertasHome h2,
#ofertasHome p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#ofertasHome h2 {
  color: #f8a41d;
}

#ofertasHome .liga {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: 3em;
}

#ofertasHome #bandejaOfertaHome {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -webkit-column-count: 3;
          column-count: 3;
}

@media (max-width: 479px) {
  #ofertasHome #bandejaOfertaHome {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#ofertasHome #bandejaOfertaHome .tarjetaOfertasHome {
  background-color: #f8fb32;
  border-radius: 3vw;
  margin-top: 1em;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#ofertasHome #bandejaOfertaHome .tarjetaOfertasHome p {
  padding: 0.7em 1.5em 1.5em;
  margin: 0;
  color: #29305f;
  font-size: 0.8em;
}

#ofertasHome #bandejaOfertaHome .tarjetaOfertasHome h3 {
  padding: 2em 1em 1em;
  color: #29305f;
  position: relative;
  font-size: 1.2em;
  line-height: 1.1em;
}

#ofertasHome #bandejaOfertaHome .tarjetaOfertasHome h3:before {
  content: "";
  background: url("/img/lineaVerda.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: 2em;
  top: 30px;
}

#ofertasHome #bandejaOfertaHome .tarjetaOfertasHome img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 11em;
}

#eventosHome {
  grid-column: 1 / -1;
  display: inherit;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  margin: 5em 0;
  background: url("/img/fondoB_gradiente.jpg") no-repeat;
  background-size: 40% auto;
  background-position: 100% 20%;
}

@media (max-width: 479px) {
  #eventosHome {
    background-size: 100% auto;
    background-position: 0% 15%;
  }
}

#eventosHome h2,
#eventosHome p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

#eventosHome h2 {
  color: #f8a41d;
}

#eventosHome .liga {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: 3em;
}

#eventosHome #bandejaOfertaHome {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -webkit-column-count: 3;
          column-count: 3;
}

@media (max-width: 479px) {
  #eventosHome #bandejaOfertaHome {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#eventosHome #bandejaOfertaHome .tarjetaOfertasHome {
  background-color: #29305f;
  border-radius: 3vw;
  margin-top: 1em;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#eventosHome #bandejaOfertaHome .tarjetaOfertasHome p {
  padding: 0.7em 1.5em 1.5em;
  margin: 0;
  color: #f8fb32;
  font-size: 0.8em;
}

#eventosHome #bandejaOfertaHome .tarjetaOfertasHome h3 {
  padding: 2em 1em 1em;
  color: #f8fb32;
  position: relative;
  font-size: 1.2em;
  line-height: 1.1em;
}

#eventosHome #bandejaOfertaHome .tarjetaOfertasHome h3:before {
  content: "";
  background: url("/img/lineaAmarilla.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: 2em;
  top: 30px;
}

#eventosHome #bandejaOfertaHome .tarjetaOfertasHome img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 11em;
}

.suscribete {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
}

.suscribete h2 {
  color: #f8a41d;
  position: relative;
}

.suscribete h2:before {
  content: "";
  background: url("/img/lineaVerda.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 70%;
  height: 2em;
  top: -1em;
}

.suscribete .izq {
  background: url(/img/fondoA_gradiente.jpg) no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 0 10vw 10vw 0;
  width: 80%;
}

@media (max-width: 479px) {
  .suscribete .izq {
    width: 100%;
    height: 25vh;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.suscribete .coco {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 479px) {
  .suscribete .coco {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.suscribete .der {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 479px) {
  .suscribete .der {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 3em;
  }
}

label {
  color: #29305f;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  display: block;
}

input {
  border: none;
  background-color: #f8a41d;
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 10vw;
  margin-bottom: 0.5em;
}

@media (max-width: 479px) {
  input {
    width: 100%;
  }
}

input[type="button"] {
  display: block;
  position: relative;
  border-radius: 3vw;
}

@media (max-width: 479px) {
  input[type="button"] {
    margin-top: 1em;
    border-radius: 5vh;
  }
}

#footer {
  background-color: #4ccba6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 0 10vw 0 0;
  color: #fff;
  padding: 5em;
  position: relative;
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer:before {
  content: "";
  height: 100%;
  width: 30%;
  background: url("/img/fondoB_gradiente.jpg") no-repeat #f8fb32;
  background-size: 100% auto;
  position: absolute;
  top: -3em;
  right: -11%;
  z-index: -1;
}

@media (max-width: 479px) {
  #footer {
    padding: 2em;
  }
}

#footer p {
  font-size: 0.7em;
}

#footer a:hover {
  color: #29305f;
  font-weight: bold;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0;
}

@media (max-width: 479px) {
  #footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5em 0;
    gap: 0.2em;
  }
}

#footer ul:before {
  content: "";
  background: url("/img/lineaAmarilla.svg") no-repeat;
  background-size: 15%;
  position: absolute;
  width: 100%;
  height: 2em;
  top: -30px;
}

@media (max-width: 479px) {
  #footer ul:before {
    background-size: 50%;
    top: -15px;
  }
}

#footer img {
  width: 60%;
  height: auto;
}

@media (max-width: 479px) {
  #footer img {
    width: 100%;
  }
}

#categoria {
  grid-column: 1 /-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
}

#categoria h2,
#categoria p {
  -ms-grid-column: 2;
  grid-column: 2;
}

#categoria p {
  color: #29305f;
  border-bottom: solid 1px #f8a41d;
  padding-bottom: 1em;
}

#categoria .gale {
  margin-top: 5vh !important;
}

#categoria .conteTit {
  border-radius: 0 5vw 0 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 80%;
  height: 50vh;
  color: #fff;
  background: url("/img/fondoE_gradiente.jpg") no-repeat;
  background-size: 100% auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

@media (max-width: 479px) {
  #categoria .conteTit {
    width: auto;
    grid-column: 1 / -1;
    height: 40vh;
  }
}

#categoria .conteTit h2 {
  color: #f8a41d;
}

#categoria .conteTit .conteExtra {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 10%;
}

#categoria .imasGale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-top: -10vh;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

#categoria .imasGale p {
  background-color: #fff;
  padding: 2em;
}

@media (max-width: 479px) {
  #categoria .imasGale {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#categoria .gale {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  margin-top: -10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8em;
}

@media (max-width: 479px) {
  #categoria .gale {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1600px) {
  #categoria .gale {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#categoria .gale a {
  color: #fff;
}

#categoria .gale .tarjetaGale {
  background-color: #4ccba6;
  color: #fff;
  margin-bottom: 1em;
}

#categoria .gale .tarjetaGale img {
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
}

#categoria .gale .tarjetaGale:hover img {
  border-radius: 1vw;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  z-index: 500;
}

#categoria .gale .tarjetaGale .conteIntTar {
  padding: 2em;
}

#categoria .gale .tarjetaGale h3 {
  color: #29305f;
  position: relative;
  font-size: 1.2em;
}

#categoria .gale .tarjetaGale h3:before {
  content: "";
  background: url("/img/lineaVerda.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
}

#categoria .gale .tarjetaGale p {
  font-size: 0.8em;
}

#categoria .gale .tarjetaGale .cat {
  font-size: 0.8em;
  border-top: solid 1px #f8fb32;
  display: inline;
}

#categoria .gale .tarjetaGale .cat a {
  color: #fff !important;
}

#categoria .gale .tarjetaGale .cat a:hover {
  color: #f8fb32 !important;
}

#heroOfertas {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 10%;
      grid-template-columns: 1fr 1fr 10%;
}

@media (max-width: 479px) {
  #heroOfertas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#heroOfertas .a {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

#heroOfertas .a h2 {
  color: #4ccba6;
}

#heroOfertas .a p {
  color: #29305f;
}

#heroOfertas .b {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  background-color: #29305f;
}

#heroOfertas .c {
  background: url("/img/fondoE_gradiente.jpg") no-repeat;
}

@media (max-width: 479px) {
  #heroOfertas .c {
    height: 10vh;
    margin: 5vh 0;
  }
}

#aunmas {
  grid-column: 2 / -1;
  background-color: #f8a41d;
  padding: 2em;
  margin: 3em 0 5em;
  position: relative;
}

#aunmas::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #29305f;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  border-radius: 0 0 5vw 0;
  bottom: -3em;
  left: -11%;
  z-index: -10;
}

#aunmas h2 {
  padding: 1em 0;
}

#aunmas h2:before {
  content: "";
  background: url("/img/lineaBlanca.svg") no-repeat;
  background-size: 35%;
  position: absolute;
  width: 40%;
  height: 2em;
  top: 1.5em;
}

@media (max-width: 479px) {
  #aunmas h2:before {
    width: 60%;
  }
}

#mapa {
  display: inherit;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-column: 1/ -1;
  margin: 5em 0 0;
}

#map {
  grid-column: 1/ -1;
  grid-row: 1 / -1;
  background-color: #f8fb32;
  height: 80vh;
}

@media (max-width: 479px) {
  #map {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
}

#recuadroInfo {
  grid-column: 4/ -1;
  grid-row: 1 / -1;
  padding: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #29305f;
  z-index: 800;
}

@media (max-width: 479px) {
  #recuadroInfo {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

#recuadroInfo h2 {
  color: #f8fb32;
}

#recuadroInfo ul {
  padding: 0;
}

#recuadroInfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#recuadroInfo a {
  color: #4ccba6;
}
/*# sourceMappingURL=style.css.map */